<div class="container mt-5">
    <div  class="row justify-content-center">
        <div id="formContainer" class="col-12 col-lg-9">
            <img id="arrow" src="assets/img/curved_arrow.svg" class="filter-gray">
            <div class="row justify-content-center">
                <div class="col-10">
                    <form (ngSubmit)="onSubmit()" #f="ngForm">
                        <div class="input-group mb-3">
                            <input
                                id="user_input"
                                type="text"
                                class="form-control shadow-none fs-5"
                                placeholder="Your sentence"
                                aria-label="Your sentence"
                                ngModel
                                name="sentence"
                                required
                                maxlength="80"
                                #sentence="ngModel">
                            <button [disabled]="modelStatus != 'Ready' || isLoading" class="btn btn-dark submit-button fs-5" type="submit">Submit</button>
                          </div>
                    </form>
                </div>
            </div>
            <div id="emojiContainer" class="row mt-3 justify-content-center">
                <div class="col-10 text-center">
                    <app-spinner *ngIf="!prediction.length"></app-spinner>
                    <h1 *ngIf="prediction.length > 0">{{prediction}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>

