#user_input {
    outline: 0;
    border-width: 0 0 2px;
    border-radius: 0;
    margin-right: 20px;
}

#user_input:focus {
    border-color: black;
}

#formContainer {
    background-color: white !important;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 8px;
}

#arrow {
    margin-left: 160px;
    margin-bottom: 20px;
    height: 80px;
    -webkit-transform: rotate(180deg);
    /* Chrome, Safari, Opera */
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    /* Standard syntax */
}

#emojiContainer {
    min-height: 80px;
    max-height: 80px;
    margin-top: 30px !important;
}

.filter-gray {
    filter: invert(10%) sepia(15%) saturate(587%) hue-rotate(168deg) brightness(97%) contrast(88%);
}